body {
  color: #444;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 30px;
  margin: 100px auto;
  max-width: 1200px;
}

h1 {
	font-size: 120px;
	margin: 20px auto;
	text-align: center;
}

h1 a:hover {
  text-decoration: none;
}

h1 a {
  color: #444;
}

a, li {
  color: #666699;
  text-decoration: none;  
}

a:hover {
  text-decoration: underline;
}

.links {
	margin: 50px 0;
}

ul, li {
	padding: 0;
	list-style-type: none;
}

li {
	display: inline;
}

.links li:after {
	content: " //";
}

.links li.last-child:after {
	content: "";
}

img {
	width: 100%;
  text-align: center;
}

img.aboutpic {
  width: 45%;
  float: left;
  padding: 10px;
}

div.about {
  width: 45%;
  text-align: left;
  float: right;
  padding: 10px;
}

p.breakword {
  word-wrap: break-word;
}

ul.contact {
  font-size: 20px;
}
















