body {
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 15px;
  margin: 25px;
  background-image: url("Kenny_Dinner_0256.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
	font-size: 40px;
	margin: 0px;
	text-align: left;
  width: 380px;
  float: left;
}

h1 a:hover {
  text-decoration: none;
}

h1 a {
  color: #7D7D7D
}

a, li {
  color: #DDDDDD;
  text-decoration: none;  
}

a:hover {
  text-decoration: underline;
}

.links {
	margin: 0;
  float: right;
  max-width: 950px;
  padding: 20px;

}

ul, li {
	padding: 0;
	list-style-type: none;
}

li {
	display: inline;
}

.links li:after {
	content: " //";
}

.links li.last-child:after {
	content: "";
}

img {
	width: 100%;
  text-align: center;
}

img.aboutpic {
  width: 45%;
  float: left;
  padding: 10px;
}

div.about {
  width: 45%;
  text-align: left;
  float: right;
  padding: 10px;
}

p.breakword {
  word-wrap: break-word;
}

ul.contact {
  font-size: 20px;
}

.drexbday {
  background-image: url('dancingdog.gif');
  background-size: cover;
  margin: 180px auto;
  width: 90%;
}

.drexbday h1 {
  font-family: monospace;
  font-size: 48px;
  text-align: center;
  text-transform: uppercase;
}

.drexbday a {
  color: #ff0000;
  text-decoration: none;
}

.drexbday a:hover {
  text-decoration: underline;
}

audio {
  display: none;
}

.blink {
  -webkit-animation-name: blinker;
  -webkit-animation-duration: .3s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;

  -moz-animation-name: blinker;
  -moz-animation-duration: .3s;
  -moz-animation-timing-function: linear;
  -moz-animation-iteration-count: infinite;

  animation-name: blinker;
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-moz-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@media (max-width: 650px) {
  .home {
    font-size: 34px;
    line-height: 40px;
    margin: 20px auto;
  }














